@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.size {
  width: 65vw;
  margin: 0 auto;
  margin-bottom: 100px;
}
/*----------------------------
Header and Nav-bar Section start 
-------------------------------*/
/* nav-bar section */

.header-section {
  background: #fffff4;
  background-image: url(../images/icon/header.png);
  background-repeat: no-repeat;
  background-position: 35% 0%;
}
.logo img {
  width: 250px;
  cursor: pointer;
}
.nav-bars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  margin-bottom: 50px;
}
.nav > ul {
  display: flex;
  gap: 57px;
}
.nav > ul > li {
  list-style: none;
}
.nav > ul > li a {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #3c3c3c;
  transition: all 0.3s;
}
.nav > ul > li a:hover {
  color: #76c27e;
}
.mobile {
  display: none;
}

/* hero section start */
.hero-section {
  display: flex;
  align-items: center;
  gap: 30%;
  padding-bottom: 100px;
}

.hero-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  color: #363958;
  margin-bottom: -15px;
}
.hero-title > samp {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  color: #76c27e;
}
.hero-para {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #3e3e3e;
}
.hero-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding: 18px 34px;
  background: #2a1e59;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 24px;
  transition: all 0.3s;
}
.hero-btn:hover {
  background: #76c27e;
}
.hero-image {
  background-image: url(../images/icon/green.png);
  background-size: 80%;
  background-repeat: no-repeat;
  z-index: 50;
}
.hero-image > img {
  width: 80%;
}
/*-------------------------------
Header and Nav-bar Section end 
--------------------------------*/
/*---------------------------------
            main section start 
---------------------------------- */
/* fit section  */
.fit-section {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  margin-bottom: 100px;
}
.fit-info {
  flex: 1;
}
.fit-info-items {
  display: flex;
  gap: 36px;
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 30px;
  align-items: center;
  margin-bottom: 16px;
}
.fit-info-items-img {
  width: 78px;
  height: 82px;
}
.fit-info-items-img > img {
  width: 100%;
  height: 100%;
}
.fit-info-items-titles > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #363958;
  margin-bottom: 14px;
}
.fit-info-items-titles > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #3e3e3e;
}

.fit-images {
  flex: 1;
}
.fit-images > img {
  width: 100%;
}
/* cart section start  */
.Casual-backpack {
  margin-bottom: 100px;
}
.Casual-backpack-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.casual-backpack-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #363958;
}
.backpack-card {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 18px;
  width: 350px;
}
.backpack-card > img {
  background: #f1f1f1;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 18px;
}
.card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #363958;
  margin-bottom: 12px;
  cursor: pointer;
}
.card-para {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #3e3e3e;
}
.backpack-card > samp {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: #76c27e;
  margin-right: 25px;
}
.card-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding: 18px 34px;
  background: #2a1e59;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.card-btn:hover {
  background: #76c27e;
}
/*---------------------------------
            main section start 
---------------------------------- */

/* ---------------------------------
            Media Query
------------------------------------ */
@media only screen and (max-width: 668px) {
  .size {
    width: 95vw;
  }
  /* header section */
  .nav {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .mobile > i {
    font-size: 25px;
    color: #3c3c3c;
    cursor: pointer;
  }
  /* hero section */
  .hero-section {
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
  }
  .hero-image {
    background-size: 80%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-image > img {
    width: 80%;
  }
  /* fit section */
  .fit-section {
    flex-direction: column-reverse;
    gap: 40px;
  }
  /* card section start */
  .Casual-backpack-cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .casual-backpack-title {
    text-align: center;
  }
}
